@import 'base';
@import 'components';
@import 'utilities';
@import '@/scss/quasar-variables.scss';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: $dark;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: $font-size-base;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}